<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>S7yby Nutrition Chatbot</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{assets/img/favicon.png}" rel="icon">
  <link th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{assets/vendor/aos/aos.css}" rel="stylesheet">
  <link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{assets/css/style.css}" rel="stylesheet">
  <link th:href="@{assets/css/chatbot.css}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img th:src="@{assets/img/logo.png}" alt="">
        <span>S7yby Nutrition Chatbot</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="home.html#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="home.html#values">Services</a></li>
          <li><a class="nav-link scrollto" href="login.html">Log in</a></li>
          <li><a class="nav-link scrollto" href="home.html#contact">Contact us</a></li>
          <li><a class="getstarted scrollto" href="chat.html">Chat now</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <section class="inner-page">
      <div class="container">
    


      <!-- ======= Chat Section ======= -->
      <section class="chat-container">
          <div class="chat">
            <div class="chat-header" style="text-transform: uppercase;">Welcome user. let's chat</div>
            <div class="chat-body" id="chat-body">
              <div class="left-message">
                <img th:src="@{assets/img/chatbot/bot-icon.png}" alt="icon" class="icon" />
                <span>Hello! I'm S7yby; your Nutrition Assistant. How can I Help you?</span>
              </div>
              
            </div>
            <div class="chat-foot">
              <input type="text" id="chat-input" class="chat-input" placeholder="Send a message">
              <button type="submit" class="chat-submit" id="chat-submit">
                  <img th:src="@{assets/img/chatbot/send.png}"  alt="send" style="width: 48%; margin-top: -6px;">
              </button>
            </div>
          </div>
      </section>
<!-- End Chat Section -->


      </div>
    </section>

  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script th:src="@{assets/vendor/purecounter/purecounter_vanilla.js}"></script>
  <script th:src="@{assets/vendor/aos/aos.js}"></script>
  <script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{assets/vendor/glightbox/js/glightbox.min.js}"></script>
  <script th:src="@{assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script th:src="@{assets/vendor/swiper/swiper-bundle.min.js}"></script>
  <script th:src="@{assets/vendor/php-email-form/validate.js}"></script>
  <script th:src="@{assets/vendor/jquery/jquery_3.7.1.min.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{assets/js/main.js}"></script>
  <script th:src="@{assests/js/chatbot.js}"></script>
  
</body>

</html>